---
layout: main
title: Home
---

<div class="container-fluid">
    <b>Projects</b>
    <hr>
    <ul>
        {% for project in site.projects %}
            <li>
                <a href="{{ project.link }}">{{ project.name }}</a> {{ project.descr }}
            </li>
        {% endfor %}
    </ul>
</div>
<div class="container-fluid">
    <b>Publications</b>
    <hr>
    <ul>
        {% for publication in site.publications %}
            <li>
                <a href="{{ publication.link }}">{{ publication.name }}</a> {{ publication.authors }}
            </li>
        {% endfor %}
    </ul>
</div>
<div class="container-fluid">
    <b>Posts</b>
    <hr>
    <ul>
        {% for post in site.posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="container-fluid">
    <b>Present Occupation</b>
    <hr>
    Scientific Computing Specialist
    <br>
    <a href="https://www.computational-plant-science.org/joomla30/">Computational Plant Science Lab</a>
    <br>
    University of Georgia
    <br>
    <a href="mailto:wbonelli@uga.edu">wbonelli@uga.edu</a>
</div>
