---
layout: main
title: Home
---

<div class="container-fluid">
    <b>present occupation</b>
    <p>
    scientific computing specialist
    <br>
    <a href="https://www.computational-plant-science.org/joomla30/">computational plant science lab</a>
    <br>
    university of georgia
    </p>
</div>
<div class="container-fluid">
    <b>projects</b>
    <ul>
        {% for project in site.projects %}
            <li>
                <a href="{{ project.link }}">{{ project.name }}</a> {{ project.descr }}
            </li>
        {% endfor %}
    </ul>
</div>
<div class="container-fluid">
    <b>posts</b>
    <ul>
        {% for post in site.posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="container-fluid">
    <b>publications</b>
    <ul>
        {% for publication in site.publications %}
            <li>
                <a href="{{ publication.link }}">{{ publication.name }}</a> {{ publication.authors }}
            </li>
        {% endfor %}
    </ul>
</div>
