<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>wes bonelli</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="{{'/assets/main.css' | prepend: site.baseurl}}">
        {% feed_meta %}
        {% seo %}
    </head>
    <body>
        <a href="/">wes bonelli</a>
        <hr>
        {{ content }}
        <script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
    </body>
</html>

