<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Working Backwords</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="{{'/assets/main.css' | prepend: site.baseurl}}">
        {% feed_meta %}
        {% seo %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="breadcrumb" href="#"><b style="color: white">W</b>orking  <b style="color: white">B</b>ackwords</a>
        </nav>
        <div class="container-fluid body-text">
            <br>
            {{ content }}
            <br>
        </div>
    </body>
</html>

