<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>w-bonelli.github.io</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="{{'/assets/main.css' | prepend: site.baseurl}}">
        {% feed_meta %}
        {% seo %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark header">
            <a class="breadcrumb" href="#"><b>w-bonelli.github.io</a></b>
            <nav class="ml-auto" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">surveil plants, free people</li>
                </ol>
            </nav>
        </nav>
        <div class="container-fluid body-text">
            <br>
            {{ content }}
            <br>
        </div>
    </body>
</html>

