<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wes Bonelli</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="{{'/assets/main.css' | prepend: site.baseurl}}">
        {% feed_meta %}
        {% seo %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="breadcrumb" href="/">Wes Bonelli</a>
            <nav class="ml-auto" aria-label="breadcrumb"> 
                <ol class="breadcrumb"> 
                    <li class="breadcrumb-item" aria-current="page"></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="#">{{ page.date | date_to_string }} {{ page.title }}</a></li>
                </ol> 
            </nav>  
        </nav>
        <div class="container-fluid body-text">
            <br>
            {{ content | mardownify }}
            <hr>
            <p><a href="http://dismagazine.com/disillusioned/discussion-disillusioned/68280/hans-ulrich-obrist-timothy-morton/">Morton suggests</a> we think social systems like toys: things to play with, share peacefully, and which we may grow out of at some point. "There's no one toy to rule them all". Likewise with ideas, maybe? Do not hesitate to tell me if you think I have misstepped.</p>
            <br>
        </div>
    </body
</html>
