<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>w-bonelli.github.io</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="{{'/assets/main.css' | prepend: site.baseurl}}">
        {% feed_meta %}
        {% seo %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark header">
            <a class="breadcrumb" href="/"><b>w-bonelli.github.io</b></a>
            <nav class="ml-auto" aria-label="breadcrumb"> 
                <ol class="breadcrumb"> 
                    <li class="breadcrumb-item" aria-current="page"></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="#">{{ page.title }}</a></li>
                </ol> 
            </nav>  
        </nav>
        <div class="container-fluid body-text">
            <br>
            {{ content | mardownify }}
            <hr>
            <p>Please <a href="mailto:wbonelli@uga.edu">tell me</a> if I've made a mistake.</p>
            <br>
        </div>
    </body
</html>
